
$top-margin: 4em;

html, body {
    overflow: hidden;
}

div, html, body, iframe, ul, li, h1, h2, h3 {
    padding: 0px;
    margin: 0px;
    border: 0px;
    font-family: monospace;
}


.bb-panes {

    .left-pane, .right-pane, .sep {
        border-top: 1px solid lightgray;
    }
    .left-pane {
        position: absolute;
        top: $top-margin;
        bottom: 0px;
    }

    .right-pane {
        position: absolute;
        top: $top-margin;
        bottom: 0px;
        right: 0px;
    }

    iframe,
    .editor-container,
    .bb-editor,
    .CodeMirror,
    .bb-preview {
        height: 100%;
        width: 100%;
    }

    .sep {
        position: absolute;
        top: $top-margin;
        // border: 1px solid black;
        bottom: 0px;
        width: 10px;
        cursor: col-resize;

        $bg: #D1D1D1;
        background: lightgray;
        background: linear-gradient(to right, $bg 0%,#ffffff 45%,#ffffff 55%,$bg 100%);
    }

}

.notification {
    display: none;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 20em;
    color: white;
    background-color: red;
    z-index: 1000;
    padding: 1em;
}

.notification .close {
    float: right;
}

.bb-toolbar {
    position: absolute;
    top: 0px;
    height: $top-margin;
    width: 100%;
    ul {
        list-style: none;
        height: 100%;
        display: table;
    }

    .bold {
        font-weight: bold;
    }


    .heading1, .help {
        border-left: 1px solid lightgray;
    }

    ul li {
        display: table-cell;
        vertical-align: middle;
        button {
            margin: 0.2em;
            padding: 0px;
            height: 3em;
            width: 3em;
            background-color: transparent;
            border: 0px;
            cursor: pointer;
            border: 1px solid transparent;
            &:hover {
                border: 1px solid lightgray;
                // background-color: white;
            }
        }
    }

    // $bg: #e0e0de;
    $bg: #EDEDED;
    background: $bg;
    // background: linear-gradient(to bottom, $bg 0%,#ffffff 20%,#ffffff 80%,$bg 100%);
}

@media (max-width: 55em) {
    .bb-toolbar button {
        font-size: 0.7em;
    }
}

@media (min-width: 65em) {
    .bb-toolbar button {
        font-size: 1em;
    }
}


$dropdown-menu-color: lightgray;

.arrow-up {
    margin: 0px;
    width: 0;
    height: 0;
    border-left: 2em solid transparent;
    border-right: 2em solid transparent;
    border-bottom: 2em solid $dropdown-menu-color;
}

.bb-dropdown {
    position: absolute;
    z-index: 10001;
    a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    h1 {
        padding: 0px;
        font-size: 1em;
        margin-bottom: 1em;
    }

    .content-wrap {
        padding: 0.3em;
        background-color: $dropdown-menu-color;
    }

    .content {
        padding: 1em;
        background-color: white;
    }

    li {
        list-style: none;
        button {
            width: 100%;
            text-align: left;
            padding: 1em;
        }
    }
    ul {
        margin: 0px;
    }

}

.bb-selectmenu li {
    margin-bottom: 1em;
}

.bb-titleform {
    * {
        display: block;
    }
}
