
<h1>
Publish?
</h1>

<div class="content">
    {{#if public}}

    Page is now public at
    <a href="{{publicUrl}}" target="_new">{{publicUrl}}</a>

    {{else}}

    <a href="#" class="publish" >Yes!</a>

    {{/if}}
</div>

